@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	display: inline-block;
}

body {
	line-height: 1.6;
  overflow-x: hidden;
}


.btn {
	display: inline-block;
	border: 0;
	background: 0;
	padding: .5em 1.5em;
	font-size: 1.125rem;
	font-weight: 700;
	transition: 250ms;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2.5rem;
}

.flow-content--s > * + *  {
	margin-top: .5rem !important;
}
.flow-content--m > * + *  {
	margin-top: 1rem !important;
}
.flow-content--xm > * + *  {
	margin-top: 1.5rem !important;
}
.flow-content--l > * + *  {
	margin-top: 3rem !important;
}
.flow-content--xl > * + *  {
	margin-top: 3.5rem !important;
}


.nav a{
  @apply text-lg duration-300 hover:text-cyan-500;
}

.hero {
	min-height: calc(100vh - 94px);
}

.grid--1x2 {
	display: grid;
	grid-template-columns: 200px 1fr;
	gap: 2.5rem;
}


@media screen and (max-width: 48em) {
.grid--1x2 {
	grid-template-columns: 1fr;
	gap: 2.5rem;
	justify-items: center;
}

}

@media  screen and (max-width: 34.375em) {
  html{
    font-size: 80%;
  }
}

@media  screen and (max-width: 34.375em) {
  html{
    font-size: 65%;
  }
}